<div style="width:860px;background: #f5f5f5;margin:0 auto;border:1px solid #ddd;padding: 15px 0;min-height: 415px;font-family: arial;">
  	<div style="width:47%;padding: 0 15px;display: inline-block;float: left;">
		<div style="border: 1px solid #e8e8e8;margin-bottom: 17px;background-color: #fff;">
	        <div style="padding:10px 15px;">
	         <h3 style="font-size: 16px;margin:0;">{{ text_detail }}</h3>
			</div>
	        <table style="width:100%">
	          <tbody>
	            <tr>
	              <td class="text-left" style="padding: 8px;line-height: 1.42857;vertical-align: top;border-top: 1px solid #ddd;"><a style="text-decoration: none;font-size: 12px;color: #333;">{{ title }}</a></td>
	            </tr>
	            <tr>
				  <td class="text-left" style="padding: 8px;line-height: 1.42857;vertical-align: top;border-top: 1px solid #ddd;"><a style="text-decoration: none;font-size: 12px;color: #333;">{{ sname }}</a></td>
				</tr>
				<tr>
				  <td class="text-left" style="padding: 8px;line-height: 1.42857;vertical-align: top;border-top: 1px solid #ddd;"><a style="text-decoration: none;font-size: 12px;color: #333;">{{ lname }}</a></td>
				</tr>
				<tr>
				  <td class="text-left" style="padding: 8px;line-height: 1.42857;vertical-align: top;border-top: 1px solid #ddd;"><a style="text-decoration: none;font-size: 12px;color: #333;"> {{ date_added }}</a></td>
				</tr>
			  </tbody>
			</table>
      	</div>
	</div>

    <div style="float: left;width:46%;padding: 0 15px;">
		<div style="border: 1px solid #e8e8e8;margin-bottom: 17px;background-color: #fff;">
	        <div style="padding:10px 15px;">
	         <h3 style="font-size: 16px;margin:0;">{{ text_custdetail }}</h3>
			</div>
	        <table style="width:100%">
	          <tbody>
				<tr>
	              <td class="text-left" style="padding: 8px;line-height: 1.42857;vertical-align: top;border-top: 1px solid #ddd;"><a style="text-decoration: none;font-size: 12px;color: #333;">{{ customer_name }}</a></td>
	            </tr>
	            <tr>
				  <td class="text-left" style="padding: 8px;line-height: 1.42857;vertical-align: top;border-top: 1px solid #ddd;"><a style="text-decoration: none;font-size: 12px;color: #333;">{{ ip }}</a></td>
				</tr>
				<tr>
				  <td class="text-left" style="padding: 8px;line-height: 1.42857;vertical-align: top;border-top: 1px solid #ddd;"><a style="text-decoration: none;font-size: 12px;color: #333;">{{ user_agent }}...</a></td>
				</tr>
			  </tbody>
			</table>
      	</div>
	</div>
    <div style="clear:both;padding: 0 15px;">
      	<div style="border: 1px solid #e8e8e8;margin-bottom: 17px;background-color: #fff;">
			<div style="padding: 10px 15px;">
	          <h3 style="margin:0;font-size: 16px;color:#595959;">{{ text_fields }}</h3>
			</div>
			<div style="padding: 15px;">
				<table style="border: 1px solid #dddddd;width: 100%;border-spacing: 0; margin-bottom:10px;">
	            	<thead>
					  	<tr>
							<td style="width:50%;vertical-align: middle;border-right: 1px solid #ddd;padding: 8px;">{{ text_productimage }}</td>
							<td style="width:50%;vertical-align: middle;padding: 8px;">{{ text_productname }}</td>
		              	</tr>
				 	</thead>
					<tbody>
						<!-- product name and image code 26-06-24 -->
						{% if image %}
						<tr>
							<td style="width:50%;vertical-align: middle;border-top:1px solid #ddd;border-right: 1px solid #ddd;padding: 8px;line-height: 1.42857;padding: 8px;"><img src="{{ thumb }}" class="img-fluid" title="{{ pro_name }}" alt="{{ pro_name }}"/></td>
			                <td style="width:50%;vertical-align: middle;border-top:1px solid #ddd;padding: 8px;line-height: 1.42857;">{{ pro_name }}</td>
						</tr>
						{% endif %}
						<!-- product name and image code 26-06-24 -->
					</tbody>
				</table>
				
			  	<table style="border: 1px solid #dddddd;width: 100%;border-spacing: 0;">
	            	<thead>
					  	<tr>
							<td style="width:25%;vertical-align: middle;border-right: 1px solid #ddd;padding: 8px;">{{ entry_fieldname }}</td>
							<td style="width:25%;vertical-align: middle;padding: 8px;">{{ entry_fieldvalue }}</td>
		              	</tr>
				 	</thead>
					<tbody>
						{% for fieldinfo in field_infos %}
					  	<tr>
							<td style="width:25%;vertical-align: middle;border-top:1px solid #ddd;border-right: 1px solid #ddd;padding: 8px;line-height: 1.42857;padding: 8px;">{{ fieldinfo.label }}</td>
			                <td style="width:25%;vertical-align: middle;border-top:1px solid #ddd;padding: 8px;line-height: 1.42857;">{{ fieldinfo.value }}</td>
		             	</tr>
				   		{% endfor %}
					</tbody>
				</table>
		  	</div>
		</div>
  	</div>
</div> 

				
	
		