{% if site_key %}
<script src="https://www.google.com/recaptcha/api.js"> </script> 
{% endif %}
<div class="formbulider">
<h2>{{ formtitle }} <span class="pull-right" style="display: {% if base_price == 0 %} none {% endif %};" id="base_price" rel="{{ base_price }}"> {{ b_price }} <span></h2>	 
		<form class="form-horizontal">
			<div id="formbuilder">
				<input type="hidden" name="form_id" value="{{ form_id }}"/>

				<input type="hidden" name="price" value="{{ base_price }}" id="price" />
				<input type="hidden" name="productform_id" value="{{ productform_id }}" />
				<input type="hidden" name="title" value="{{ formtitle }}"/>
				
				{% if form_fields %}
				 {% for optionfield in form_fields %}
					{% if optionfield.type == 'select' %}
					<div class="form-group{% if optionfield.required %} required {% endif %}">
					  <label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					  </label>
						<div class="col-sm-12">	
							<div id="input-formfields{{ optionfield.field_id }}">
								<select name="formfields[{{ optionfield.field_id }}]"  class="form-control">
									<option value="">{{ text_select }}</option>
									{% for option_value in optionfield.form_field_option %}
										{% if formfields.optionfield.field_id==option_value.name %}		
														
										<option value="{{ option_value.name }}" selected="selected" rel="{{ option_value.price }}">{{ option_value.name }}
									{% if option_value.price != 0 %}
									<b> ({{ option_value.tmdprice }})</b>
				                    {% endif %}</option>
										{% else %}
										<option value="{{ option_value.name }}" rel="{{ option_value.price }}">{{ option_value.name }}
									{% if option_value.price != 0 %}
									<b> ({{ option_value.tmdprice }})</b>
				                    {% endif %}</option>
				                    
										{% endif %} 
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					{% endif %}
					{% if optionfield.type == 'radio' %}
					<div class="form-group{% if optionfield.required %} required {% endif %}">
						<label class="col-sm-2 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					  </label>
					  <div class="col-sm-8">
						<div id="input-formfields{{ optionfield.field_id }}">
							{% for option_value in optionfield.form_field_option %}
							<div class="radio">
								<label>
									<input type="radio" name="formfields[{{ optionfield.field_id }}]" rel="{{ option_value.price }}" value="{{ option_value.name }}" />
									{% if option_value.image %}
                    <img src="{{ option_value.image }}" class="img-thumbnail" /> 
                  {% endif %}   							                    
									{{ option_value.name }}
									{% if option_value.price != 0 %}
									<b> ({{ option_value.tmdprice }})</b>
				                    {% endif %}
								</label>
							</div>
							{% endfor %}
						</div>			
					  </div>
					</div>
					{% endif %}
					{% if optionfield.type == 'checkbox' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
				  <div class="col-sm-12">
				  <div id="input-formfields{{ optionfield.field_id }}">
					{% for option_value in optionfield.form_field_option %}
					<div class="checkbox">
					  <label>
						<input type="checkbox" name="formfields[{{ optionfield.field_id }}][]" rel="{{ option_value.price }}" value="{{ option_value.name }} " />
						{% if option_value.image %}
	                    <img src="{{ option_value.image }}" class="img-thumbnail" /> 
	                    {% endif %}   
						{{ option_value.name }} 
									{% if option_value.price != 0 %}
									<b> ({{ option_value.tmdprice }})</b>
				                    {% endif %}
					  </label>
					</div>
					{% endfor %}
				  </div>
				  </div>
				</div>
				{% endif %}
				{% if optionfield.type == 'text' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">
						<input type="text" name="formfields[{{ optionfield.field_id }}]" value="" placeholder="{{ optionfield.placeholder }}" id="input-formfields{{ optionfield.field_id }}" class="form-control" />					
					</div>
				</div>
				{% endif %}
				{% if optionfield.type == 'textarea' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
				  <label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
				  <div class="col-sm-12">
				  <textarea name="formfields[{{ optionfield.field_id }}]" rows="5" placeholder="{{ optionfield.placeholder }}" id="input-formfields{{ optionfield.field_id }}" class="form-control"></textarea>
				  </div>
				</div>
				{% endif %}
					
				{% if optionfield.type == 'number' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">
						<input type="text" name="formfields[{{ optionfield.field_id }}]" value="" placeholder="{{ optionfield.placeholder }}" id="input-option{{ optionfield.field_id }} " class="form-control" />
					</div>
				</div>	
				{% endif %}
					
				{% if optionfield.type == 'telephone' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">
						<input type="text" name="formfields[{{ optionfield.field_id }}]" value="" placeholder="{{ optionfield.placeholder }}" id="input-formfields{{ optionfield.field_id }}" class="form-control" />
					</div>
				</div>	
				{% endif %}	
					
				{% if optionfield.type == 'email' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">
						<input type="text" name="formfields[{{ optionfield.field_id }}]" value="" placeholder="{{ optionfield.placeholder }}" id="input-formfields{{ optionfield.field_id }}" class="form-control" />
						
					</div>
				</div>	
				{% endif %}	
				{% if optionfield.type == 'emaile_exists' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">
						<input type="text" name="formfields[{{ optionfield.field_id }}]" value="" placeholder="{{ optionfield.placeholder }}" id="input-formfields{{ optionfield.field_id }}" class="form-control" />
					</div>
				</div>		
				{% endif %}	
				{% if optionfield.type == 'password' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">
						<input type="password" name="formfields[{{ optionfield.field_id }}]" value="" placeholder="{{ optionfield.placeholder }}" id="input-formfields{{ optionfield.field_id }}" class="form-control" />
					</div>
				</div>		
				{% endif %}	
				{% if optionfield.type == 'confirm' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">
						<input type="password" name="formfields[{{ optionfield.field_id }}]" value="" placeholder="{{ optionfield.placeholder }}" id="input-formfields{{ optionfield.field_id }}" class="form-control" />
					</div>
				</div>	
				{% endif %}	
				{% if optionfield.type == 'file' %}
				
				<div class="form-group{% if optionfield.required %} required {% endif %}">
				  <label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
				  <div class="col-sm-12">
				  <button type="button" id="button-upload{{ optionfield.field_id }}" data-loading-text="{{ text_loading }} " class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }} </button>
				  <input type="hidden" name="formfields[{{ optionfield.field_id }}]" value="" id="input-formfields{{ optionfield.field_id }}" />
				  </div>
				</div>
				{% endif %}
				{% if optionfield.type == 'date' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
				    <label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
				  <div class="col-sm-12">
				  <div class="input-group date">
					<input type="text" name="formfields[{{ optionfield.field_id }}]" value="{{ optionfield.value_date }}" data-date-format="YYYY-MM-DD" id="input-option{{ optionfield.field_id }} " class="form-control" />
					<span class="input-group-btn">
					<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
					</span></div>
					</div>
				</div>
				{% endif %}
				{% if optionfield.type == 'datetime' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
				   <div class="col-sm-12">
				  <div class="input-group datetime">
					<input type="text" name="formfields[{{ optionfield.field_id }}]" value="{{ optionfield.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ optionfield.field_id }} " class="form-control" />
					<span class="input-group-btn">
					<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
					</span></div>
					</div>
				</div>
				{% endif %}
				{% if optionfield.type == 'time' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
				    <label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">
					<div class="input-group time">
					<input type="text" name="formfields[{{ optionfield.field_id }}]" value="{{ optionfield.value_time }}" data-date-format="HH:mm" id="input-option{{ optionfield.field_id }}" class="form-control" />
					<span class="input-group-btn">
					<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
					</span></div>
				   </div>
				</div>
				{% endif %}
				{% if optionfield.type == 'country' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">	
						<select name="formfields[{{ optionfield.field_id }}]" id="input-formfields{{ optionfield.field_id }}" class="form-control country_id">
							<option value="">{{ text_select }} </option>
							{% for country in countries %}
								{% if country.country_id == optionfield.field_id %}
								<option value="{{ country.country_id }}" selected="selected">{{ country.name }} </option>
								{% else %}
								<option value="{{ country.country_id }}">{{ country.name }} </option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>	
				{% endif %}
				{% if optionfield.type == 'zone' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">	
					<select name="formfields[{{ optionfield.field_id }}]" id="input-formfields{{ optionfield.field_id }}" class="form-control zone_id">
					</select>
					</div>
				</div>	
				{% endif %}	
					
				{% if optionfield.type == 'address' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">
						<input type="text" name="formfields[{{ optionfield.field_id }}]" value="" placeholder="{{ optionfield.placeholder }}" id="input-formfields{{ optionfield.field_id }}" class="form-control" />
					</div>
				</div>
				{% endif %}	
				{% if optionfield.type == 'postcode' %}
				<div class="form-group{% if optionfield.required %} required {% endif %}">
					<label class="col-sm-12 control-label" for="input-formfields{{ optionfield.field_id }}">
						{% if optionfield.help_text %}
							<span data-toggle="tooltip" title="{{ optionfield.help_text }}">
						{% endif %}
						  {{ optionfield.field_name }}
						{% if optionfield.help_text %}
							<i class="fa fa-question-circle" aria-hidden="true"></i> </span>
						{% endif %}
					</label>
					<div class="col-sm-12">
						<input type="text" name="formfields[{{ optionfield.field_id }}]" value="" placeholder="{{ optionfield.name }} " id="input-formfields{{ optionfield.field_id }}" class="form-control" />
					</div>
				</div>
				{% endif %}	
			  
				{% endfor %}
				{% endif %}		

					{% if captchastatus==1 %}
	                <div class="captcha">
					    {{ captcha }}
						<div id="g-recaptcha"></div>
	                </div>
					{% endif %}	
				
				<div class="buttons">
					<button type="button" id="button-formbulider" data-loading-text="{{ text_loading }}" class="{% if submit_bgcolor %} btn btn-light btn-lg btn-block{% else %}btn btn-primary btn-lg btn-block {% endif %}">{{ button_name }}</button>
					{% if resetbutton==1 %}
					<input type="reset" id="button-reset-formbulider" value="{{ resetbutton_name }}"  class="{% if reset_bgcolor %} btn btn-light btn-lg btn-block{% else %}btn btn-primary btn-lg btn-block {% endif %}"/>
					{% endif %}	
				</div>				
			</div>
		</div>
	</form>


<script type="text/javascript"><!--
$(document).ready(function() {
    function getCurrencySymbol(text) {
        return text.replace(/[0-9.,]/g, '').trim();
    }
    function stripCurrencySymbol(price) {
        return price.replace(/[^\d.]/g, ''); 
    }

    var basePriceRel = $('#base_price').attr('rel');
    var basePriceText = $('#base_price').text().trim();
    var currencySymbol = getCurrencySymbol(basePriceText); 

    $('input[type=radio], input[type=checkbox], select').click(function() {
        var bprice = parseFloat(basePriceRel);  
        var price = 0;

        $.each($("input[type='radio']:checked, input[type='checkbox']:checked, select option:selected"), function() {
            var rel = $(this).attr('rel');
            if (rel && !isNaN(parseFloat(rel))) {
                price += parseFloat(rel);  
            }
        });

        var newPrice = bprice + price;

        if (newPrice == 0) {
            $('#base_price').hide();
        } else {
            $('#base_price').show();
            $('#base_price').html(currencySymbol + newPrice.toFixed(2)); 
        }

        lodprice(newPrice.toFixed(2));
    });

    function lodprice(newPrice) {
        $.ajax({
            url: 'index.php?route=extension/tmd/popupform/loadprice',
            type: 'post',
            data: {price: newPrice},
            dataType: 'json',
            success: function(json) {
                if (json.price) {
                	var priceWithoutSymbol = stripCurrencySymbol(json.price); // Remove currency symbol
                    $('#base_price').html(json.price);  
                    $('#price').val(priceWithoutSymbol);  
                }
            }
        });
    }
});
</script>
			
<script type="text/javascript"><!--
$('#button-formbulider').on('click', function() {

	$.ajax({
		url: 'index.php?route=extension/tmd/popupform/addpoup',
		type: 'post',
		data: $('#formbuilder input[type=\'text\'], #formbuilder input[type=\'password\'], #formbuilder input[type=\'hidden\'], #formbuilder input[type=\'radio\']:checked, #formbuilder input[type=\'checkbox\']:checked, #formbuilder select, #formbuilder textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-formbulider').button('loading');
		},
		complete: function() {
			$('#button-formbulider').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			/* validation class has error */
			$('.form-group').removeClass('has-error');	
			/* validation class has error */

			if (json['error']) {
				if (json['error']['formfields']) {
					for (i in json['error']['formfields']) {
						var element = $('#input-formfields' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['formfields'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['formfields'][i] + '</div>');
						}
					}
					/* validation class has error */			
					$('.text-danger').parentsUntil('.form-group').parent().addClass('has-error');
					/* validation class has error */
				}


				if (json['error']['g-recaptcha-response']) {
				    if (!$('#g-recaptcha').next('.text-danger').length) {
				        $('#g-recaptcha').after('<div class="col-sm-offset-2 text-danger" role="alert" aria-live="assertive">' + json['error']['g-recaptcha-response'] + '</div>');
				    }
				}
			
			}
			if (json['success']) {
				location='{{ producturl }}';
			}
		}
	});
});


$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').attr('value', json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});


$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});

$('.country_id').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/account/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('.country_id').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
		},
		complete: function() {
			$('.fa-spin').remove();
		},
		success: function(json) {
			
			html = '<option value="">{{ text_select }}</option>';

			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '') {
						html += ' selected="selected"';
					}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}

			$('.zone_id').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
$('select .country_id').trigger('change');
		
//--></script>
<style type="text/css">
#button-formbulider{
	background-color:{{submit_bgcolor}} !important;
	border-color:{{submit_bgcolor}} !important;
	color: {{submit_txtcolor}} !important;
}
#button-reset-formbulider{
	background-color:{{reset_bgcolor}} !important;
	border-color:{{reset_bgcolor}} !important;
	color: {{reset_txtcolor}} !important;
}
{{ customcss }}
</style>
