{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-module" action="{{ save }}" method="post" data-oc-toggle="ajax">
         
          <div class="row mb-3">
            <label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
              <div id="error-name" class="invalid-feedback"></div>
            </div>
          </div> 

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="input-title">{{ entry_title }}</label>
          <div class="col-sm-10">
          {% for language in languages %}
            <div class="input-group"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
            <input type="text" name="tmdformbuilder_title[{{ language.language_id }}]" value="{% if tmdformbuilder_title[language.language_id] %}{{ tmdformbuilder_title[language.language_id] }}{% endif %}" placeholder="{{ entry_title }}" class="form-control" />
            </div>
            {% endfor %}          
          </div>
        </div>
         
          <div class="row mb-3">
            <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-select">
                <option value="1"{% if status %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                <option value="0"{% if not status %} selected="selected"{% endif %}>{{ text_disabled }}</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="input-status">{{ entry_showproduct }}</label>
            <div class="col-sm-10">
              <select name="tmdformbulider_showproduct" class="form-select">               
                {% for formbulider in formbuliders %}
                {% if tmdformbulider_showproduct==formbulider.form_id %}
                <option value="{{ formbulider.form_id }}" selected="selected">{{ formbulider.title }}</option>
                {% else %}
                <option value="{{ formbulider.form_id }}">{{ formbulider.title }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          

        </form>
      </div>
    </div>
  </div>
</div>


 {% if(VERSION>='4.0.2.0') %}
 <script type="text/javascript"><!--
$('#input-product').autocomplete({
    source: function (request, response) {
        $.ajax({
            url: 'index.php?route=catalog/product.autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function (json) {
                response($.map(json, function (item) {
                    return {
                        label: item['name'],
                        value: item['product_id']
                    }
                }));
            }
        });
    },
    select: function (item) {
        $('#input-product').val('');

        $('#featured-product-' + item['value']).remove();

        html  = '<tr id="featured-product-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#featured-product tbody').append(html);
    }
});

$('#featured-product').on('click', '.btn', function () {
    $(this).parent().parent().remove();
});
//--></script>
{% else %}
<script type="text/javascript"><!--
$('#input-product').autocomplete({
    source: function (request, response) {
        $.ajax({
            url: 'index.php?route=catalog/product|autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function (json) {
                response($.map(json, function (item) {
                    return {
                        label: item['name'],
                        value: item['product_id']
                    }
                }));
            }
        });
    },
    select: function (item) {
        $('#input-product').val('');

        $('#featured-product-' + item['value']).remove();

        html  = '<tr id="featured-product-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#featured-product tbody').append(html);
    }
});

$('#featured-product').on('click', '.btn', function () {
    $(this).parent().parent().remove();
});
//--></script>
{% endif%}

{{ footer }}
