{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
		<div class="well">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label" for="input-filter_title">{{ entry_title }} </label>
						<input type="text" name="filter_title" value="{{formname}}" placeholder="{{ entry_title }}" id="input-filter_title" class="form-control" />
						<input type="hidden" name="form_id" />
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label" for="input-filter_name">{{ entry_name }} </label>
						<input type="text" name="filter_name" value="{{ customername }}" placeholder="{{ entry_name }}" id="input-filter_name" class="form-control" />
						 <input type="hidden" name="customer_id" value="{{ customer_id }}" />
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label" for="input-filter_ip">{{ entry_ip }} </label>
						<input type="text" name="filter_ip" value="" placeholder="{{ entry_ip }}" id="input-filter_ip" class="form-control" />
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group datetime">
						<label class="control-label" for="input-filter_date">{{ entry_date }} </label>
						<input type="text" name="filter_date" value="" data-date-format="YYYY-MM-DD" placeholder="YYYY-MM-DD" id="input-filter_date" class="form-control" />
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="form-group">
						<label class="control-label" for="button-filter">&nbsp;</label>
						<button type="button" id="button-filter" class="btn btn-primary btn-block"><i class="fa fa-filter"></i> {{ button_filter }}</button>
					</div>
				</div>
			</div>
		</div>	 
    <form  method="post" enctype="multipart/form-data" id="form-record">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
				<thead>
					<tr>
						<td class="text-left">{{ column_productname }}</td>
						
						<td class="text-left">{% if sort == 'title' %}
							<a href="{{ sort_title }}" class="{{ order|lower }}">{{ column_title }}</a>
							{% else %}
							<a href="{{ sort_title }}">{{ column_title }}</a>
							{% endif %}
						</td>
						
						<td class="text-left">{% if sort == 'name' %}
							<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
							{% else %}
							<a href="{{ sort_name }}">{{ column_name }}</a>
							{% endif %}
						</td>
						
						<td class="text-left">{{ column_ip }}</td>
						
						<td class="text-left">{% if sort == 'date' %}
							<a href="{{ sort_date }}" class="{{ order|lower }}">{{ column_date }}</a>
							{% else %}
							<a href="{{ sort_date }}">{{ column_date }}</a>
							{% endif %}
						</td>						
						<td class="text-center">{{ column_action }}</td>
												
					</tr>
				</thead>
					{% if records %}
					 {% for report in records %}
					<tr>
						<td class="text-left">{{ report.productname }}</td>
						<td class="text-left">{{ report.title }}</td>
						<td class="text-left">{% if report.customer_name ==' ' %}Guest{% else %}{{report.customer_name}}{% endif %}</td>
						
						<td class="text-left">{{ report.ip }}</td>
						<td class="text-left">{{ report.date_added }}</td>
						<td class="text-center">
						<a href="{{ report.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
						</td>
						
				</tr>
						{% endfor %} 
						{% else %}
					<tr>
						<td class="text-center" colspan="7">{{ text_no_results }}</td>
					</tr>
					{% endif %}
            </table>
        </div>
    </form>
        <div class="row">
			<div class="col-sm-6 text-left">{{ pagination }}</div>
          	<div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

$('#button-filter').on('click', function() {
	var url = 'index.php?route=extension/tmd/record&user_token={{ user_token }}';
	
	var filter_title = $('input[name=\'form_id\']').val();

	if (filter_title) {
		url += '&filter_title=' + encodeURIComponent(filter_title);
	}
	
	var filter_name = $('input[name=\'customer_id\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}
	
	var filter_ip = $('input[name=\'filter_ip\']').val();

	if (filter_ip) {
		url += '&filter_ip=' + encodeURIComponent(filter_ip);
	}
	
	var filter_date = $('input[name=\'filter_date\']').val();

	if (filter_date) {
		url += '&filter_date=' + encodeURIComponent(filter_date);
	}
		
  location = url;
});
</script>

  <script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});

$('.time').datetimepicker({
	pickDate: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});
//--></script>
<script type="text/javascript">
$('input[name=\'filter_title\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/tmd/record/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					form_id: 0,
					title:'{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['title'],
						value: item['form_id']
					}
				}));
				
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_title\']').val(item['label']);
		$('input[name=\'form_id\']').val(item['value']);
	}
});
</script>
<script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=extension/tmd/record/autocompletecustomer&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        json.unshift({
          customer_id: 0,
          firstname: '{{ text_none }}'
        });

        response($.map(json, function(item) {
          return {
            label: item['firstname'],
            value: item['customer_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_name\']').val(item['label']);
    $('input[name=\'customer_id\']').val(item['value']);
  }
});
</script>
{{ footer }}
