{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-information').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
	   <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-information">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
				<thead>
					<tr>
						<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
						<td class="text-left">{% if sort == 'title' %}
							<a href="{{ sort_title }}" class="{{ order|lower }}">{{ column_title }}</a>
							{% else %}
							<a href="{{ sort_title }}">{{ column_title }}</a>
							{% endif %}
						</td>
						<td class="text-left">{% if sort == 'preview' %}
							<a href="{{ sort_preview }}" class="{{ order|lower }}">{{ column_preview }}</a>
							{% else %}
							<a href="{{ sort_preview }}">{{ column_preview }}</a>
							{% endif %}
						</td>
						<td class="text-left">{% if sort == 'status' %}
							<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
							{% else %}
							<a href="{{ sort_status }}">{{ column_status }}</a>
							{% endif %}
						</td>					
						<td class="text-center">{{ column_action }}</td>
					</tr>
				</thead>
					{% if forms %}
					 {% for form in forms %}
					<tr>
						<td class="text-center">{% if form.form_id in selected %}
							<input type="checkbox" name="selected[]" value="{{ form.form_id }}" checked="checked" />
							{% else %}
							<input type="checkbox" name="selected[]" value="{{ form.form_id }}" />
							{% endif %}
						</td>
						<td class="text-left">{{ form.title }}</td>
						<td class="text-left"><a target="_blank" href="{{ form.preview }}">{{ form.preview }}</a></td>
						<td class="text-left">{{ form.status }}</td>
						<td class="text-center">
							<span class="tmdlistbtns">
								<a data-toggle="modal" rel1="{{ form.title }}" rel2="{{ form.form_id }}" data-target="#help-modal2" class="btn btn-warning tmdhelptopic"><i class="fa fa-code"></i></a>
								<a href="{{ form.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
								<a href="{{ form.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-warning"><i class="fa fa-eye"></i></a>
								<a href="{{ form.export }}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Export"><i class="fa fa-download"></i></a>
							</span>
						</td>
					</tr>
						{% endfor %} 
						{% else %}
					<tr>
						<td class="text-center" colspan="5">{{ text_no_results }}</td>
					</tr>
					{% endif %}
            </table>
        </div>
    </form>
        <div class="row">
			<div class="col-sm-6 text-left">{{ pagination }}</div>
          	<div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<div class="modal modal-wide fade" id="help-modal2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>  
 <script type="text/javascript">
  $(document).on('click','.tmdhelptopic',function(e) {
    html='';
    html+='<div class="modal-dialog">';
    html+=' <div class="modal-content">';
    html+='   <div class="modal-header">';
    html+='     <button type="button" class="close" data-dismiss="modal">&times;</button>';
    html+='     <h4 class="modal-title">{{ text_copy }}</h4>';
    html+='   </div>';
    html+='   <div class="modal-body"><button onclick="tmdCopy()" class="pull-right btn btn-primary copy"><i class="fa fa-copy"></i> Copy</button>';
    html+='     <p><textarea class="form-control" id="copy"><a data-toggle="modal" onclick="return tmdFormPopup('+$(this).attr('rel2')+')" data-target="#help-modal2" class="btn-primary btn-lg btn-block text-center">'+$(this).attr('rel1')+'</a></textarea></p>';
    html+='   </div>';
    html+='   <div class="modal-footer">';
    html+='     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>';
    html+='   </div>';
    html+=' </div>';
    html+='</div>'
  $('#help-modal2').html('');
  $('#help-modal2').append(html);
});

function tmdCopy() {
  var copyText = document.getElementById("copy");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
}
 </script>
<style type="text/css">
.modal.modal-wide .modal-dialog {
    width: 70%;
}
.copy {
	margin-bottom:2px;
}
.tmdlistbtns {
    display: flex;
    align-items: center;
    gap: 5px;
}
#form-information table thead tr td,
#form-information table thead tr th {
    white-space: nowrap;
}
</style>
